*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


body{
	margin: 0;
	font-family: 'Jura', sans-serif;
}

.nav-bar{
	position: fixed;
	margin: 0;
	width: 100%;
	background-color: #1f1f1f;
	padding: 10px;
	height: 35px;
	opacity: 0.8;

}

.nav-item-right{
	padding-right: 10px;
	float: right;
	display: inline-block;
	margin: auto;
}

.nav-item-left{
	float: left;
	display: inline-block;
	margin: auto;
}

.nav-link{
	transition-duration: 0.4s;
	padding: 10px;
	text-decoration: none;
	font-size: 24px;
	color: white;

}

.nav-text{
	padding: 10px;
	color: white;
	font-size: 24px;
}

.nav-link:hover{
	color: #15f4ee;
}


#home, #projects, #contact{ 
	background-color: #1f1f1f;
	color: white;
	height: 115vh;
}

#home h1, #projects h1{
	font-size: 96px;
}

#home h2, #projects h2{
	font-size: 72px;
}

#home p, #projects p{
	font-size: 32px;
}

.about{
	text-align: center;
}


.skills-list{
	column-count: 2;
	text-align: center;
	width: 100%;
	height: auto;
	background-color: #1f1f1f;
}

.skill{
	color: #15f4ee;
	padding: 10px;
	font-size: 32px;
}

.skill-specific{

	color: white;
	padding: 5px;
	font-size: 22px;
}


#contact{
	background-color: blue;
}
